<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">sree</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">system</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    
    	<!-- Option Elements -->
    	
    	<!-- Debugging and Understanding -->
    	<property name="show_sql">true</property>
    	
    	<!-- To AutoGenerate Tables and Update the Same -->
    	<property name="hbm2ddl.auto">update</property>
    	
    	<!-- Mandatory Mapping Document -->
    	<mapping resource="Doctor.hbm.xml"/>
    
    	<mapping resource="Patient.hbm.xml"/>
    	
    	<mapping resource= "InPatient.hbm.xml"/>
    	<mapping resource="ClinicalAssistant.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
